<div class="grid">
    <div class="grid-item">
        <img src="img/icecream1.png" alt="item" width="200" height="400" />
        <p>Belgium Chocolate</p>
        <span>$20</span>
    </div>
    <div class="grid-item">
        <img src="img/icecream2.png" alt="item" width="200" height="400" />
        <p>Napolitan</p>
        <span>$14</span>
    </div>
    <div class="grid-item">
        <img src="img/icecream3.png" alt="item" width="200" height="400" />
        <p>Strawberry</p>
        <span>$15</span>
    </div>
</div>