* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oleo Script Swash Caps", sans-serif;
}

header {
    position: absolute;
    width: 100%;
}

.header-container {
    max-width: 1080px;
    margin: 0 auto;
}

.header-container {
    height: 10vh;
    display: flex;
    justify-content: space-between;    
    align-items: center;
}

.header-container a {
    text-decoration: none;
    color: #000;
}

.header-container .logo, header ul li a {
    transition: color .5s;
}

.header-container .logo:hover {
    color: pink;
}

header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
}

.hamburger-menu {
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

header ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

header ul li a:hover {
    color: pink;
}

.hero {
    background-image: url("../img/hero.jpeg");
    background-size: 100%;
    background-position-y: -90px;
    object-fit: contain;
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero h1 span {
    color: black;
}

.about {
    height: 100vh;
    background-image: url("../img/about-mid.jpeg");
    background-size: 100%;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 93vh;
}

.top .container {
    max-width: 1080px;
    margin: 0 auto;
}

.top .container .text-container {
    max-width: 60%;
}

.top .container .text-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.top .container .text-container p {
    font-size: 22px;
}

.hero h1 {
    font-size: 120px;
    color: pink;
    max-width: 1080px;
    margin: 0 auto;
}

.description {
    height: 100vh;
    color: pink;
    background-image: url("../img/desc.jpeg");
    background-size: 100%;
    object-fit: cover;
    position: relative;
}

.overlay {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.description .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}

.description .container h2 {
    position: absolute;
    font-size: 80px;
    top: 60px;
}

.description .container h3 {
    position: absolute;
    width: 75%;
    right: 0;
    bottom: 60px;
    font-size: 48px;
    text-align: right;
}

.home-grid {
    background-image: url("../img/grid.jpeg");
    background-size: 100%;
    object-fit: contain;
    position: relative;
    color: pink;
}

.home-grid .grid {
    max-width: 1080px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}

.home-grid .grid .grid-item {
    text-align: center;
    opacity: .5;
    transition: opacity 0.5s;
}

.home-grid .grid .grid-item:hover {
    opacity: 1;
}

.home-grid .grid .grid-item p {
    font-size: 22px;
}

.home-grid .grid .grid-item span {
    font-size: 30px;
    font-weight: bold;
}

footer {
    height: 40px;
    width: 100%;
}

footer .container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

footer .home-footer a {
    text-decoration: none;
    color: pink;
}

footer .container a:hover {
    text-decoration:underline;
}

footer .overlay {
    height: 40px;
}

.contact {
    background-image: url("../img/contact.jpg");
    background-size: 100%;
    object-fit: contain;
}

.contact .social {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.contact .social .img-container {
    background-color: white;
    height: 80px;
    border-radius: 20px;
    pointer-events: none;
    transition: transform .5s;
}

.contact .social img {
    object-fit: contain;
    border-radius: 20px;    
    pointer-events: auto;
}

.contact .social .pinterest {
    background-color: transparent;
}

.contact .social .img-container:hover {
    transform: scale(1.3)
}

.contact .top h1 {
    margin: 20px 0;
    margin-bottom: 20px;
}

.contact form div {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 12px;
}

.contact form input {
    flex: 1;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #999;
}

.contact form textarea {
    flex: 1;
    height: 100px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #999;
}

.contact form button {
    padding: 8px 24px;
    background: black;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: color .5s;
    border: 0;
}

.contact form button:hover {
    color: pink;
}

.about a, .contact a {
    text-decoration: none;
    color: black;
}

@media (max-width: 1024px) {
    .header-container, .hero h1, .description .container, footer .home-footer, .about .top .container, .about footer .container, .contact footer .container {
        max-width: 800px;
    }

    .hero h1 {
        font-size: 90px;
    }

    .description .container h2 {
        font-size: 52px;
    }

    .description .container h3 {
        font-size: 36px;
    }

    .about .top .text-container h1 {
        font-size: 36px;
    }

    .about .top .text-container p {
        font-size: 18px;
    }

    .contact .top >div {
        margin-top: 80px;
    }

    .contact .top {
        height: auto;
    }

    .contact .social {
        margin-bottom: 0;
    }

    .contact footer {
        margin-top: 60px;
    }
}

@media (max-width: 768px) {
    .header-container, .hero h1, .description .container, footer .home-footer, .about .top .container, .about footer .container, .contact footer .container, .contact .top >div {
        max-width: 500px;
    }

    .hero {
        background-position-y: 0;
        background-size: 120%;
    }

    .hero h1 {
        font-size: 52px;
    }

    .description, .home-grid {
        background-size: 120%;
    }

    .description .container h2 {
        font-size: 42px;
        top: 30px;
    }

    .description .container h3 {
        font-size: 28px;
    }

    .home-grid grid .item:active {
        opacity: 1
    }

    .home-grid grid .item:not(:active) {
        opacity: .5
    }

    .about .top .text-container h1 {
        font-size: 24px;
    }

    .about .top .text-container p {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .header-container {
        max-width: 380px;
    }

    header ul {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        display: none;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 10px;
    }

    header ul li {
        text-align: right;
    }

    .header-container li a {
        color: pink;
    }

    .hamburger-menu {
        display: block;
    }

    header .logo {
        position: relative;
        top: 10px;
    }

    .hero, .description, .about {
        background-size: 205%;
    }

    .contact {
        background-size: 300%;
        background-position-x: -250px;
    }

    .about {
        background-position-x: -300px;
    }

    .hero h1, .description .container, footer .home-footer, .about .top .container, .about footer .container, .contact .top >div, .contact footer .container {
        max-width: 380px;
    }

    .description .container h2 {
        font-size: 36px;
    }

    .description .container h3 {
        font-size: 20px;
    }

    .home-grid {
        background-size: auto;        
    }

    .home-grid .grid {
        height: auto;
        flex-direction: column;
        padding: 60px 0;
        gap: 25px;
    }

    footer, footer .overlay {
        height: 60px;
    }

    footer .home-footer {
        flex-direction: column;
        justify-content: center;
    }

    .about .top {
        height: 100vh;
    }

    .about .top .text-container {
        max-width: 100%;
    }

    .about footer {
        position: absolute;
        bottom: 0;
    }

    .about footer .container {
        flex-direction: column;
        justify-content: center;
    }

    .contact .top >div h1 {
        font-size: 1em;
        text-align: center;
    }

    .contact footer .container {
        flex-direction: column;
        justify-content: center;
    }

    .contact form >div {
        flex-direction: column;
    }

    .contact form button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .contact .top textarea {
        min-height: 100px;
    }
}

@media (max-width: 375px) {
    .header-container, .hero h1, .description .container, footer .home-footer, .about .top .container, .about footer .container  {
        max-width: 300px;
    }

    .hero, .description {
        background-size: 270%;
    }
}

@media (min-width: 450px) {
    header ul {
        display: flex;
    }
}