<header>
    <div class="header-container">
        <div class="logo-container">
            <a href="/">
                <h1 class="logo">Golden Scoops</h1>
            </a>
        </div>
        <div class="hamburger-menu" id="hamburger">
            <img src="../img/hamburger.png" alt="hamburguer-menu" width="40" />
        </div>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>